# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# macOS system files
.DS_Store

# Other Python project artifacts
*.egg-info/
*.pytest_cache/
*.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/